.TopBar {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #34495e;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  a {
    color:#fff;
  }
}

.TopBarText {
  color: #fff;
  font-size: 36px;
}

.TopBarHeadingEditor {
  color: #fff;
  font-size: 36px;
  width: 400px;
}

.pt-editable-text-editing input {
  color: #000;
}