.TodoListItem {
  background-color: #34495e;
  color: #fff;
  width: calc(25% - 10px);
  line-height: 40px;
  padding: 20px;
  font-size: 14px;
  transition: all 0.2s linear;
  cursor: pointer;
  margin: 5px;

  &:hover {
    background-color: #2980b9;
  }

  a {
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.CountBadge {
  background: #ecf0f1;
  color: #2c3e50;
  border-radius: 4px;
  display: block;
  width: 30px;
  height: 20px;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
}