@import '~normalize.css/normalize.css';
@import '3rd/bootstrap-grid.css';

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Montserrat";
  background: #2c3e50;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

input[type="text"] {
  border-radius: 4px;
  border: 1px solid #e2e2e2;
  height: 40px;
  padding-left: 10px;

  &:focus {
    outline: none;
  }
}

input[type="submit"] {
  border-radius: 4px;
  background: #3498db;
  border: none;
  height: 40px;
  color: #fff;
  font-size: 13px;
}

.btn {
  border: none;
  line-height: 32px;
  cursor: pointer;
  transition: background-color 0.2s linear;
  padding: 7px 10px;
  font-size: 12px;
  border-radius: 4px;
  margin: 0 5px;
  
  &:focus {
    outline: none;
  }
}

.btn-primary {
  background: #3498db;
  color: #fff;
}

.btn-danger {
  background: #e74c3c;
  color: #fff;
}