.Modal {
  &::before {
    content: '';
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(#000, 0.5);
  }
}

.ModalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 8px;
  padding: 30px;
}

.CloseBtn {
  position: absolute;
  top: 13px;
  right: 15px;
  
  &::before {
    content: "\00d7";
    cursor: pointer;
    font: {
      size: 24px;
      family: "Arial";
    }
  }
}