.CreateListForm {
  width: 320px;
  display: flex;
  flex-direction: column;

  input:not(:last-child) {
    margin-bottom: 10px;
  }
}

.SingleHorizontalForm {
  display: flex;
  flex: 1;
  width: 100%;

  input {
    border-radius: 4px;
  }

  & input[type="text"] {
    flex-basis: 75%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  & input[type="submit"] {
    flex-basis: 25%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

}