.Todos {
  width: 100%;
  color: #fff;

  th:first-child, 
  td:first-child {
    width: 5%;
    text-align: center;
  }

  th:last-child, 
  td:last-child {
    width: 25%;
    text-align: center;
  }

  a {
    color: #fff;
  }

  th,
  td {
    background: #34495D;
    padding:10px 20px;
  }


}